header {
 background-color: #333;
 padding: 20px;
}

header h1 {
 color: #fff;
 display: inline;
}

nav ul {
 list-style-type: none;
 padding: 0;
 display: inline;
}

nav li {
 display: inline;
 margin-left: 20px;
}

nav a {
 color: #fff;
 text-decoration: none;
}

.section-title {
 font-size: 24px;
 margin-bottom: 10px;
}
